body{
    min-width: 1226px;
}

header {
    height: 40px;
    line-height: 40px;
    background-color: rgb(51, 51, 51);
  }
  
.head-container{
    width: 1226px;
    height: 100%;
    margin: auto;
    color: rgb(176, 176, 176);
    font-size: 12px;
}

.topbar-nav {
    float: left;
  }

.topbar-nav span {
padding: 0 5px;
color: rgb(66, 66, 66);
}
  

